#section1 {
    background-image: url("../img/bg.jpg");
    min-height: 600px;
    max-height: 600px;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

#section1 .section1-text {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 3rem;
}

.sec3-data {
    width: fit-content;
    margin: 0 auto;
}

.section {
    padding: 50px 0;
}

#footer  {
    padding: 20px 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}