{% extends 'email/base.html' %}


{% block content %}

<p style="margin-bottom: 10px;">Вы успешно зарегистрировались!</p>
<p>Для продолжения работы пройдите по <a href="http://{{PARENT_HOST}}/profiles/activation/{{email_activation.activation_code}}">ссылке</a> </p>
<p>Или вставьте эту ссылку в свой браузер:</p>
<p style="max-width: 100%;word-break: break-all;word-wrap: break-word;"><a href="http://{{PARENT_HOST}}/profiles/activation/{{email_activation.activation_code}}">http://{{PARENT_HOST}}/profiles/activation/{{email_activation.activation_code}}</a></p>
{% endblock %}