{% extends 'base.html' %}\
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <h3>Поиск ментора</h3>
    <div class="sp-card w-100 no-hover">
        <form action="">
            <div class="form-row">
                {% for field in form %}
                    {% if field.name == 'competence' or field.name == 'department' or field.name == 'faculty' %}
                        <div class="form-group col-md-3">
                            {% for error in field.errors %}
                                <div class="error-hide">{{ error }}</div>
                            {% endfor %}

                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% elif field.name == 'year_of_university' %}
                        <div class="form-group col-md-1">
                            {% for error in field.errors %}
                                <div class="error-hide">{{ error }}</div>
                            {% endfor %}

                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% else %}
                        <div class="form-group col-md-5">
                            {% for error in field.errors %}
                                <div class="error-hide">{{ error }}</div>
                            {% endfor %}

                            {{ field.label_tag }}
                            {{ field }}
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group flex-center col-md-2">
                    <input type="submit" value="Поиск" class="btn btn-blue">
                </div>
            </div>
        </form>
    </div>

    <div class="mt-5 mentors" id="mentors">
        <div class="row">
            {% for mentor in mentors %}
                <div class="col-md-4 mt-3 mb-3">
                    <div class="sp-card mentor w-100">
                        <div class="lb-img mb-3">
                            <img src="{{ mentor.image.url }}">
                        </div>
                        <p class="text-center">{{ mentor.first_name }} {{ mentor.last_name }} {{ mentor.patronymic }}</p>
                        <p class="text-left">{{ mentor.faculty }}, {{ mentor.department }}, Курс {{ mentor.year_of_university }}</p>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}