{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head-up %}{% endblock %}

    <meta charset="UTF-8">
    <title>{% if title %}{{ title }} - {% endif %}SciPlex</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono|Ubuntu:400,500&display=swap" rel="stylesheet">
    <script src="//code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% if request.user.is_authenticated %}
        <!--User avatar-->
        <style>
            .user-avatar {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 1px solid #e0e0e0;
                background: url({{ request.user.image.url }}) no-repeat 0 0;
                background-size: auto 60px;
                cursor: pointer;
            }
        </style>
    {% endif %}

    {% block head %}{% endblock %}
</head>
<body>

    <header class="header" id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-white" id="navbar">
            <div class="container">
                <a class="navbar-brand mr-5" href="/">
                    <img height="64px" src="{% static 'img/logo64.jpg' %}">
                    <span class="sciplex-logo ml-2"><span class="dark-blue-color mono">SCI</span><span class="blue-color mono">PLEX</span></span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link {% if request.resolver_match.url_name == 'mentors' %}active{% endif %}" href="{% url 'mentors' %}">Менторы</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Встречи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Рейтинг</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Мои встречи</a>
                        </li>
                    </ul>

                    <div class="navbar-right">
                        <ul class="navbar-nav mr-auto">
                            {% if not request.user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="" href="{% url 'login' %}">Войти</a>
                                    <a class="btn btn-blue ml-2" href="{% url 'signup' %}">Зарегистрироваться</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <div class="dropdown" id="dropdown">
                                        <a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg width="16" height="9" viewBox="0 0 16 9" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.29289 8.64992C7.68342 9.04044 8.31658 9.04044 8.70711 8.64992L15.0711 2.28595C15.4616 1.89543 15.4616 1.26226 15.0711 0.87174C14.6805 0.481216 14.0474 0.481216 13.6569 0.87174L8 6.52859L2.34315 0.871741C1.95262 0.481217 1.31946 0.481217 0.928932 0.871741C0.538408 1.26227 0.538408 1.89543 0.928932 2.28595L7.29289 8.64992ZM7 7.19995L7 7.94281L9 7.94281L9 7.19995L7 7.19995Z" fill="#1A161D" fill-opacity="0.12"/></svg>
                                            <div class="user-avatar"></div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" id="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <p class="text-center m-0">{{ request.user.username }}</p>
                                            <a class="dropdown-item" href="{% url 'myprofile' %}">Личный кабинет</a>
                                            {% if request.user.is_staff %}<a class="dropdown-item" href="/admin">Администрирование</a>{% endif %}
                                            <a class="dropdown-item" href="">Настройки</a>
                                            <a class="dropdown-item" href="{% url 'logout' %}">Выйти</a>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>



    <div class="content">
        {% block content %}{% endblock %}
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

       <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>

    <script>
        if (Cookies.get('emessage')) {
            var mess =  Cookies.get('emessage');
            var stat = mess.substr(0, 1);
            mess =  mess.substr(1, mess.length);

            if (stat == '1') {
                swal(mess, {
                    icon: 'success',
                });
            } else if (stat == '2') {
                swal(mess, {
                    icon: 'info',
                });
            } else if (stat == '3') {
                swal(mess, {
                  icon: "warning",
                });
            } else {
                swal(mess, {
                  icon: "error",
                });
            }
            Cookies.remove('emessage');
        }
    </script>



    {% block js %}{% endblock %}

</body>
</html>