{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block content %}

<section class="section-fluid" id="section1">
    <p class="section1-text text-center">
        Студенческая система лояльности
        <br>
        <span class="mono">SCI</span><span class="blue-color mono">PLEX</span>
    </p>
</section>

<section class="section" id="section2">
    <div class="container">
        <div class="row">
            <div class="col-0 col-md-1"></div>
            <div class="col-12 col-md-4 mt-4">
                <h3>Проблема</h3>
                <div class="sp-card w-100">Отчисление студентов, в частности тех, которые находятся на платном обучении. Для ВУЗа это убыток около 300 тыс. рублей в год за каждого студента</div>
            </div>
            <div class="col-0 col-md-2"></div>
            <div class="col-12 col-md-4 mt-4">
                <h3>Решение</h3>
                <div class="sp-card w-100">Наша система стимулирует студентов, которые хорошо усвоили материал, помогать тем, которые плохо в нём разобрались, за определённую награду</div>
            </div>
            <div class="col-0 col-md-1"></div>
        </div>
    </div>
</section>

<!--<section class="section"></section>-->

<section class="section" id="section3">
    <h3 class="text-center">Студент? Зарегистрируйся и получи приз!</h3>
    <div class="container mt-5">
        <div class="sec3-data">
            <p>Как это работает:</p>
            <div class="row">
                <div class="sp-card ml-3 mr-3 mb-2 mt-2">Приз за регистрацию</div>
                <div class="sp-card ml-3 mr-3 mb-2 mt-2">Баллы за проведенную лекцию</div>
                <div class="sp-card ml-3 mr-3 mb-2 mt-2">Баллы за прослушанную лекцию</div>
                <div class="sp-card ml-3 mr-3 mb-2 mt-2">Количество начисляемых баллов зависит от уровня</div>
                <div class="sp-card ml-3 mr-3 mb-2 mt-2">Двусторонняя передача баллов</div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5"><a class="btn btn-gradient" href="">Регистрация</a></div>
</section>

<section class="section bg-white" id="section4">
    <h3 class="text-center">Партнеры</h3>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <a href="" target="_blank">
                    <img src="{% static 'img/stankin.jpg' %}">
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="" target="_blank">
                    <img src="{% static 'img/nti.jpg' %}">
                </a>
            </div>
            <div class="col-12 col-md-4">
                <a href="" target="_blank">
                    <img src="">
                </a>
            </div>
        </div>
    </div>
</section>

<footer class="bg-sp-dark text-white" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 flex-center">
                <img height="64px" src="{% static 'img/logo64.png' %}">
                <span class="sciplex-logo ml-2"><span class="mono">SCI</span><span class="blue-color mono">PLEX</span></span>
            </div>
            <div class="col-12 col-md-6 flex-center">
                <p class="m-0 p-0 text-center">
                    <a href="#header" class="text-white">
                        Наверх
                        <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.95711 1.29289C8.56658 0.902369 7.93342 0.902369 7.54289 1.29289L1.17893 7.65685C0.788408 8.04738 0.788408 8.68054 1.17893 9.07107C1.56946 9.46159 2.20262 9.46159 2.59315 9.07107L8.25 3.41421L13.9069 9.07107C14.2974 9.46159 14.9305 9.46159 15.3211 9.07107C15.7116 8.68054 15.7116 8.04738 15.3211 7.65685L8.95711 1.29289ZM9.25 2.5V2H7.25V2.5H9.25Z" fill="white"/>
                        </svg>
                    </a>
                </p>
            </div>
            <div class="col-12 col-md-3 flex-center">
                {% if not request.user.is_authenticated %}
                    <a class="text-white" href="#">Войти</a>
                    <a class="btn btn-blue ml-2" href="#">Зарегистрироваться</a>
                {% endif %}
            </div>
        </div>
    </div>
</footer>

{% endblock %}