{% extends 'base.html' %}

{% block content %}
    <div class="container mb-5">
        <div class="sp-card no-hover mt-5 w-100">
            <h3 class="mt-3 text-center mb-3">Авторизация</h3>
            <div class="reg">
                <form action="" class="mt-5 form-input-effect" id="form-input-effect" method="post">
                    {% for error in form.non_field_errors %}
                        <div class="error-hide text-center">{{ error }}</div>
                    {% endfor %}
                    <div class="container mb-3">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group mb-4">
                                {% for error in field.errors %}
                                    <div class="error-hide">{{ error }}</div>
                                {% endfor %}

                                {{ field.label_tag }}
                                {{ field }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="text-center mt-3 mb-2">
                        <input type="submit" value="Войти" class="btn btn-blue btn-big text-white mb-2 mt-3">
                    </div>
                </form>
            </div>
        </div>

        <div href="" class="sp-card mt-3 w-100">
            <p class=" text-center mb-0">Нет аккаунта? <a class="blue-link" href="{% url 'signup' %}">Зарегистрироваться</a></p>
        </div>
    </div>
{% endblock %}
