{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div id="left-block" class="sp-card no-hover w-100">
                <div class="lb-img mb-3">
                    <img src="{{ request.user.image.url }}">
                </div>
                <p class="text-center">{{ request.user.first_name }} {{ request.user.last_name }} {{ request.user.patronymic }}</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="sp-card no-hover w-100">
                <h3 class="text-center">Редактирование</h3>

                <form action="" class="mt-5 form-input-effect" id="form-input-effect" method="post">
                    {% for error in form.non_field_errors %}
                        <div class="error-hide text-center">{{ error }}</div>
                    {% endfor %}
                    <div class="container mb-3">
                        {% csrf_token %}

                        <div class="form-row">
                            {% for field in form %}
                                {% if field.name == 'show_in_mentors' %}
                                    <div class="form-check">
                                        {% for error in field.errors %}
                                            <div class="error-hide">{{ error }}</div>
                                        {% endfor %}

                                        {{ field }}
                                        {{ field.label_tag }}
                                    </div>
                                {% else %}
                                    <div class="form-group mb-4">
                                        {% for error in field.errors %}
                                            <div class="error-hide">{{ error }}</div>
                                        {% endfor %}

                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="text-center mt-3 mb-2">
                            <input type="submit" value="Сохранить" class="btn btn-blue btn-big text-white mb-2 mt-3">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}