{% extends 'base.html' %}

{% block content %}
    <div class="container mb-5">
        <div class="sp-card no-hover mt-5 w-100">
            <h3 class="mt-3 text-center mb-3">Регистрация</h3>
            <div class="reg">
                <form action="" class="mt-5 form-input-effect" id="form-input-effect" method="post">
                    {% for error in form.non_field_errors %}
                        <div class="error-hide text-center">{{ error }}</div>
                    {% endfor %}
                    <div class="container mb-3">
                        {% csrf_token %}

                        <div class="form-row">
                            {% for field in form %}
                                {% if field.name == 'first_name' or field.name == 'last_name' or field.name == 'patronymic' %}
                                    <div class="form-group col-md-4">
                                        {% for error in field.errors %}
                                            <div class="error-hide">{{ error }}</div>
                                        {% endfor %}

                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                {% elif field.name == 'date_birth' or field.name == 'year_of_university' or field.name == 'faculty' or field.name == 'department' %}
                                    <div class="form-group col-md-3">
                                        {% for error in field.errors %}
                                            <div class="error-hide">{{ error }}</div>
                                        {% endfor %}

                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                {% elif field.name == 'competencies' or field.name == 'description' or field.name == 'university_email' or field.name == 'email' or field.name == 'contact_details' or field.name == 'username' or field.name == 'password1' or field.name == 'password2'  %}
                                    <div class="form-group col-md-6">
                                        {% for error in field.errors %}
                                            <div class="error-hide">{{ error }}</div>
                                        {% endfor %}

                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                {% elif field.name == 'image' %}
                                    <div class="form-group text-center col-md-12">
                                        {% for error in field.errors %}
                                            <div class="error-hide">{{ error }}</div>
                                        {% endfor %}

                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                {% else %}
                                    <div class="form-group mb-4">
                                        {% for error in field.errors %}
                                            <div class="error-hide">{{ error }}</div>
                                        {% endfor %}

                                        {{ field.label_tag }}
                                        {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>

                        <div class="g-recaptcha" data-sitekey=""></div>
                    </div>
                    <div class="text-center mt-3 mb-2">
                        <input type="submit" value="Далее" class="btn btn-blue btn-big text-white mb-2 mt-3">
                    </div>
                </form>
            </div>
        </div>

        <div href="" class="sp-card mt-3 w-100">
            <p class=" text-center mb-0">Уже зарегистрированы? <a class="blue-link" href="{% url 'login' %}">Войти в аккаунт</a></p>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}
