<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">

    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            font-size: 100%;
            font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
            line-height: 1.65;
        }

        img {
            max-width: 100%;
            margin: 0 auto;
            display: block;
        }

        body, .body-wrap {
            width: 100% !important;
            height: 100%;
            background: #f2f4f4;
            -webkit-font-smoothing: antialiased;
            -webkit-text-size-adjust: none;
        }

        a {
            color: #85B7CD;
            text-decoration: none;
        }

        .text-center {
            text-align: center;
        }

        .text-right {
            text-align: right;
        }

        .text-left {
            text-align: left;
        }

        .button {
            display: inline-block;
            color: white;
            background: #85B7CD;
            border: solid #85B7CD;
            border-width: 10px 20px 8px;
            font-weight: bold;
            border-radius: 4px;
        }

        h1, h2, h3, h4, h5, h6 {
            margin-top: 20px;
            line-height: 1.25;
        }

        h1 {
            font-size: 32px;
        }

        h2 {
            font-size: 28px;
        }

        h3 {
            font-size: 24px;
        }

        h4 {
            font-size: 20px;
        }

        h5 {
            font-size: 16px;
        }

        ul, ol {
            font-size: 16px;
            font-weight: normal;
            margin-bottom: 20px;
        }

        .container {
            display: block !important;
            clear: both !important;
            margin: 0 auto !important;
            max-width: 580px !important;
        }

        .container table {
            width: 100% !important;
            border-collapse: collapse;
        }

        .container .masthead {
            padding: 30px 0;
            background: #85B7CD;
            color: white;
        }
        .container .masthead h1 {
            margin: 0 auto !important;
            max-width: 90%;
            text-transform: uppercase;
        }
        .container .content {
            background: white;
            padding: 30px 35px;
        }
        .container .content.footer {
            background: none;
        }
        .container .content.footer p {
            margin-bottom: 0;
            color: #888;
            text-align: center;
            font-size: 14px;
        }
        .container .content.footer a {
            color: #888;
            text-decoration: none;
            font-weight: bold;
        }


        {% block css %}
        {% endblock %}
    </style>
</head>
<body>
<table class="body-wrap">
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="masthead" align="center">

                        <h4 style="margin-bottom: 15px;">SciPlex.ru - студенческая система лояльности</h4>

                    </td>
                </tr>
                <tr>
                    <td class="content">

                        <h5 style="margin-bottom: 40px;">Здравствуйте{% if user.first_name %}, {{ user.first_name }}{% elif user.username %}, {{ user.username }}{% endif %}!</h5>
                        {% block content %}
                        {% endblock %}

                    </td>
                </tr>
            </table>

        </td>
    </tr>
    <tr>
        <td class="container">

            <!-- Message start -->
            <table>
                <tr>
                    <td class="content">
                        <p style="margin-top: 40px;">С уважением, <a href="http://sciplex.ru"><em>sciplex.ru</em></a>.</p>
                    </td>
                </tr>
                <tr>
                    <td class="content" align="center">
                        <p><a href="mailto:">support@sciplex.ru</a> | <a href="#">Настройки уведомлений</a></p>
                    </td>
                </tr>
            </table>

        </td>
    </tr>
</table>
</body>
</html>